body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    background-color: black;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

table {
    margin: 20px auto;
    background-color: black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
    color: black;
}

th {
    background-color: #B4E24C;
    color: black;
}

td {
    background-color: white;
}

tr:hover {
    background-color: black;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #B4E24C;
    color: black;
    transition: background-color 0.3s ease;
}

select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: #333;
}

select:focus {
    outline: none;
    border-color: #B4E24C;
}

.logoutButton {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;      
}
