<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management System</title>
    <link rel="stylesheet" href="orderHistory.html">
    <link rel="stylesheet" href="orderHistory.css">
</head>
<body>
    <h1>Order Management System</h1>
    <div class="navbar">
        <button onclick="redirectTo('index.html')">Logout</button>
        <button onclick="redirectTo('catalogCart.html')">Shop</button>
    </div>
    
    <div class="orderHistory">
        <h2>Order History</h2>
        <div class="orderList">
          <!-- Order inputted here bro -->
        </div>
      </div>
      

    <script src="orderHistory.js"></script>
        
</body>
</html>