*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background: white;
    min-height: 200vh;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header .fa-solid{
    position: relative;
    left: -50px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header .blank{
    position: relative;
    font-weight: 700;
    color: transparent;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0s;
}
header.sticky{
    padding: 5px 100px;
    background: black;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 00.6s;
}
/* banner */
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(resources/3.png);
    background-size: cover;
}
.bookNow{
    width: 100%;
    position: absolute;
    top: 95%;
    transform: translateY(-50%);
    text-align: center;
}
#bookNowButton{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
#bookNowButton:hover{
    border: 3px solid white;
    color: white;
    font-size: 1.1em;
}
/* navbar function*/
.search{
    height: 30px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 3rem;
    width: 35%;
    margin-left: -220px;
    padding-left: 21px;
}
.navColour:hover{
    color: white;
    font-size: 18px;
}
.navColourMain{
    color: white;
}

header.sticky .logo,
header.sticky .fa-solid,
header.sticky ul li a{
    color: #B4E24C; 
}
/*-------new about-------*/ 
.new-about{
    width: 80%;
    min-height: 80px;
    background-color: white;
    margin: auto;
    padding: 10px;
}
.new-about-image img{
    display: block;
    margin-left: -2px;
    margin-right: auto;
    width: 340px; 
    height: 100px;
    padding-top: 0px;
    transition: 0.5s;
}
.new-about-image img:hover{
    width: 380px; 
}
.about-new-content{
    background: lightgray;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
}

/*-------more button-------*/ 
.more-button button{ 
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    display: block;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 60px;
}
.more-button button:hover{
    color: #B4E24C;
    border: 3px solid #B4E24C;
    font-size: 1.1em;
}
/*-------more button resorts-------*/ 
.more-button-resorts button{ 
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    display: block;
    justify-content: center;
    margin-top: 15px;
}
.more-button-resorts button:hover{ 
    width: 220px;
    padding: 15px 0;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    display: block;
    justify-content: center;
    margin-top: 15px;
}
/*-------new features-------*/ 
.new-features{
    width: 80%;
    min-height: 80px;
    background-color: white;
    margin: auto;
    padding: 10px;
}
.new-features-image img{
    display: block;
    margin-left: -2px;
    margin-right: auto;
    width: 440px; 
    height: 105px;
    padding-top: 20px;
    transition: 0.5s;
}
.new-features-image img:hover{
    width: 480px; 
}
.features-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
}
.features-list div{
    background: lightgray;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 15px;
    transition: 0.5s;
}
.features-list div:hover{
    background: #B4E24C;
    font-size: 22px;
    transform: translateY(-8px);
}
.features-list div i{
    font-size: 50px;
    margin-top: 20px;
}
.features-list div p{
    font-size: 15px;
    margin-top: 10px;
}
/*-----better products------*/
.new-products{
    width: 80%;
    min-height: 80px;
    background-color: white;
    margin: auto;
    padding: 10px;
}
.new-products-image img{
    display: block;
    margin-left: -2px;
    margin-right: auto;
    width: 480px; 
    height: 105px;
    padding-top: 20px;
    transition: 0.5s;
}
.new-products-image img:hover{
    width: 520px; 
}
.products-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
}

.products{
    position: relative;
    overflow: hidden;
}
.products img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 0%;
    height: 0%;
    background: linear-gradient(rgba(0.0, 0, 0, 0.0), #B4E24C);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: 0.5s;
}
.layer p{
    color: black;
    font-size: 15px;
}
.layer h2{
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 60px;
}
.products:hover img{
    transform: translateY(-8px);
}
.products:hover .layer{
    height: 100%;
    width: 100%;
    transform: translateY(-8px);
}

.new-about{
    width: 80%;
    min-height: 80px;
    background-color: white;
    margin: auto;
    padding: 10px;
}
.new-about-image img{
    display: block;
    margin-left: -2px;
    margin-right: auto;
    width: 340px; 
    height: 100px;
    padding-top: 20px;
    transition: 0.5s;
}
.new-about-image img:hover{
    width: 380px; 
}
.about-new-content{
    background: lightgray;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
}


/*-------location-------*/ 
.location{
    width: 80%;
    min-height: 80px;
    background-color: white;
    margin: auto;
    padding: 10px;
}
.location-image img{
    display: block;
    margin-left: -2px;
    margin-right: auto;
    width: 500px; 
    height: 107px;
    padding-top: 20px;
    transition: 0.5s;
}
.location-image img:hover{
    width: 550px; 
}
.searcher{
    height: 30px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 3rem;
    width: 70%;
    padding-left: 21px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.location-search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
iframe{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}


/*-------reviews-------*/ 
.reviews{
    width: 80%;
    min-height: 80px;
    background-color: white;
    margin: auto;
    padding: 10px;
}
.reviews-image img{
    display: block;
    margin-right: auto;
    width: 520px; 
    height: 125px;
    padding-top: 20px;
    transition: 0.7s;
    margin-bottom: 30px;
    margin-top: 50px;
}
.reviews-image img:hover{
    width: 570px; 
}
.review-section {
    display: flex;
    justify-content: space-between;
}
.review {
    border: 1px solid #ccc;
    padding: 20px;
    width: 30%;
    text-align: center;
}
.review img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.review-text {
    margin-top: 10px;
}
.stars {
    margin-top: 10px;
}

/*p*/
p{
    font-size: 20px;
    padding: px;
    color: rgb(38, 38, 38);
    transition: 0.5s;
}





/*-------footer-------*/

.footer{
    width: 100%;
    padding: 100px 15%;
    background: black;
    color: white;
    display: flex;
}
.footer div{
    text-align: center;
    justify-content: center;
}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 2em;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    transition: 00.6s;
}
.col-1 a:hover{
    color: #B4E24C;
    font-size: 18px;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 00.6s;
}
form button:hover{
    color: #B4E24C;
    border: 3px solid #B4E24C;
    font-size: 1.1em;
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
    transition: 00.6s;
}
.social-icons i:hover{
    color: #B4E24C;
}

.line-1 {
  height: 0.5px;
  background: black;
}
.fa-solid.fa-mobile {
    font-size: 20px; 
    margin-top: -10px;
    margin-right: -40px; 
}
